/* global styling */
* {
    color: #ffffff;
    font-family: "clear sans", sans-serif;
    font-weight: bold;
    
}

/* body styling just black for now  */
body {
    background-color: #000000;
}

/* game container */

.gameContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* wordle title */
.titleContainer {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #495253;
    font-size: 1.1rem;
}

/* game tiles */

.tileContainer {
    width: 330px;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 2rem;
   
}

/* keyboard  */

.keyContainer {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 1.1rem;
}

.keyContainer button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.keyContainer button:nth-child(11) {
    margin-left: 30px;
}

.keyContainer button:nth-child(20),
.keyContainer button:nth-child(28) {
    width: 65px;
}

.tileContainer div {
    display: flex;
}

.tileContainer .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #2e2e2e;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.messageContainer {
    height: 30px;
}


.messageContainer p {
    background-color: #959595;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

/* animation needs to be fixed I want tile to flip before  */
.tile.flip {
    animation: 0.5s flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    25% {
        transform: rotateX(45deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    75% {
        transform: rotateX(135deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

/* Tile Colors */

.greyOverlay {
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellowOverlay {
    background-color: #b59f3b !important;

    border: none !important;
}

.greenOverlay {
    background-color: #6aaa64 !important;
    border: none !important;
   
}